@import "reset";

html {
}
.hidden {
  display: none;
}
body {
  background-color: #000913;
  color: white;
  font-size: 14px;
  font-family: Spiegel;
}
abbr {
  text-decoration: none;
}
.nav {
  border: 1px solid #707070;
  background-color: #111111;
  display: inline-flex;
  width: 100%;
  padding: 24px 0 24px 0;
  font-size: 16px;
  position: fixed;

  &__mega-drop-down__button {
    background: none;
    z-index: 1;
    cursor: pointer;
    margin-left: 4px;
    display: inline-flex;


    &__logoArrow {
      margin-top: 10px;
    }
  }
  &__mega-drop-down__button:hover {
    background-color: red;
  }
  &__mega-drop-down__wrapper {

    &__logoVeille {
    }
    &__logoArrow {
      margin-top: 7px;
      float: right;
      z-index: 1;

    }
  }
  .mega-drop-down__list {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 0;
    padding-top: 80px;
    text-transform: uppercase;
    line-height: 120%;
    background-color: white;
    color: black;
    transform: translate(-100%);
    transition: all 0.2s ease;
    overflow-x: auto;
    &__items {
      margin: 0 16px 0 16px;
      &__title {
        background-color: #BABABA1A;
        font-weight: bold;
        letter-spacing: .08em;
        padding: 12px;
        border-radius: 6.4px;
      }
      .mega-drop-down__sublist {
        &__items {
          margin-left: 12px;

          &__links {
            display: block;
            text-decoration: none;
            color: #4A4A4A;
            padding: 12px 0 12px 0;

          }
        }
      }

    }
  }
  &__mega-drop-down__button:focus + .mega-drop-down__list {
    transform: translate(0px);
  }
  &__monLogo {
    margin-left: 18px;
  }
  &__language__wrapper {

    margin-left: 40px;
    position: relative;
    margin-top: 5px;
    &__button:focus + .nav__language__wrapper__list{
      display: block;
      &__logoEarth {
      }
    }
    &__list {
      position: absolute;
      top: 50px;
      right: -50px;
      width: 200px;
      background-color: white;
      font-family: "MarkW05-Medium", Arial, sans-serif;
      text-transform: uppercase;
      border-radius: 2px;
      display: none;
      &__items {

        &__links {
          text-decoration: none;
          color: #999999;
          display: block;
          padding: 20px;
        }
      }

    }

  }
  &__language__wrapper {
  }

}