@import "reset";
html {
}
body {
  background-color: #000913;
  color: white;
  font-size: 14px;
  font-family: Spiegel;
}
abbr {
  text-decoration: none;
}
.nav {
  border: 1px solid #707070;
  background-color: #111111;
  display: flex;
  padding: 24px 0 24px 0;
  font-size: 16px;
  top: 0px;
  left: 0px;
  position: relative;

  &__mega-drop-down__button {
    position: absolute;
    background: none;
    z-index: 2;
    cursor: pointer;

    &__logoArrow {
      margin-bottom: 7px;
    }
  }
  &__mega-drop-down__button:hover {
    background-color: red;
  }
  &__mega-drop-down__wrapper {

    &__logoVeille {
      margin-left: 4px;
      z-index: 2;
    }
    &__logoArrow {
      margin-top: 7px;
      float: right;
      z-index: 2;

    }
  }
  .mega-drop-down__list {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 0;
    padding-top: 80px;
    text-transform: uppercase;
    line-height: 120%;
    background-color: white;
    color: black;
    transform: translate(-100%);
    transition: all 0.2s ease;
    &__items {
        margin: 0 16px 0 16px;
      &__title {
        background-color: #BABABA1A;
        font-weight: bold;
        letter-spacing: .08em;
        padding: 12px;
        border-radius: 6.4px;
      }
      .mega-drop-down__sublist {
        &__items {
          margin-left: 12px;

          &__links {
            display: block;
            text-decoration: none;
            color: #4A4A4A;
            padding: 12px 0 12px 0;

          }
        }
      }

    }
  }
  &__mega-drop-down__button:active + .mega-drop-down__list {
    transform: translate(0px);
  }
  &__monLogo {
    margin-left: 117.75px;
  }
}

.hidden {
  display: none;
}