@import "reset";

html {
  font-size: 14px;

}
.hidden {
  display: none;
}
body {
  background-color: #000913;
  color: white;
  font-family: Spiegel;
}
abbr {
  text-decoration: none;
}
.nav {
  border: 1px solid #707070;
  background-color: #111111;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 3;
  padding: 1.07142857143rem 0 1.07142857143rem 0;
  font-size: 16px;
  position: fixed;
  &__mega-drop-down__button {
    background: none;
    cursor: pointer;
    margin-left: 3.27198364008%;
    display: inline-flex;

    &__logoVeille {

    }
    &__logoArrow {
      margin-top: 1.07142857143rem;
    }
  }

  &__mega-drop-down__checker {
    position: absolute;
    top: 12px;
    left: 17px;
    width: 121px;
    min-height: 48px;
    cursor: pointer;
    z-index: 3;
    appearance: none;

  }
  &__mega-drop-down__button:hover {
  }
  &__mega-drop-down__wrapper {

    &__logoVeille {
    }
    &__logoArrow {
      float: right;
      margin-top: 0.5em;

    }
  }
  .mega-drop-down__scroller {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translate(-100%);
    transition: 300ms, opacity 300ms;
    overflow-y: scroll;

    .mega-drop-down__list {
      display: flex;
      flex-direction: column;
      padding-top: 1.07em;
      text-transform: uppercase;
      line-height: 120%;
      background-color: white;
      color: black;


      &__logo {
        margin-left: 3.27198364008%;
        margin-bottom: 25px;
        &__wrapper {

          &__arrow {
            margin-bottom: 9px;
            rotate: 180deg;
          }
        }

      }
      &__items {
        margin: 0 16px 0 16px;

        &__title {
          background-color: #BABABA1A;
          font-weight: bold;
          letter-spacing: .08em;
          padding: 12px;
          border-radius: 6.4px;
          position: relative;


          &__logoArrow{
            margin-top: 7px;
            float: right;
            z-index: 1;
          }
        }
        &__checker {
          width: 100%;
          min-height: 40px;
        }

        .mega-drop-down__sublist {
          &__items {
            margin-left: 12px;


            &__links {
              display: block;
              text-decoration: none;
              color: #4A4A4A;
              padding: 12px 0 12px 0;

            }
          }
        }

      }
    }
  }

  &__mega-drop-down__checker:checked + .mega-drop-down__scroller {
    transform: translate(0px);
  }
  &__mega-drop-down__checker {

  }
  &__monLogo {
    margin-left: 6.23608017817%;
  }
  &__language__wrapper {

    margin-right: 3%;
    margin-left: auto;
    position: relative;
    margin-top: 5px;
    z-index: 0;
    &__button:focus + .nav__language__wrapper__list{
      display: block;
      &__logoEarth {
      }
    }
    &__list {
      position: absolute;
      top: 50px;
      right: -50px;
      width: 200px;
      background-color: white;
      font-family: "MarkW05-Medium", Arial, sans-serif;
      text-transform: uppercase;
      border-radius: 2px;
      display: none;
      &__items {

        &__links {
          text-decoration: none;
          color: #999999;
          display: block;
          padding: 20px;
        }
      }

    }

  }
  &__burgerMenu__wrapper {
    margin-right: 3.56347438753%;

    &__checker {
      position: absolute;
      top: 12px;
      right: 9px;
      width: 48px;
      min-height: 48px;
      cursor: pointer;
      z-index: 3;
      appearance: none;

    }
    &__checker:checked + .burgerMenu__scroller {
      transform: translate(0px);
      z-index: 2;
    }
    .burgerMenu__scroller {
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      top: 0;
      left: 0;
      position: absolute;
      transform: translate(100%);
      transition: 300ms, opacity 300ms;



      .burgerMenu__list {

        background-color: #1f1f1f;
        text-align: center;
        &__items {

          font-weight: 600;
          &__logoArrow {
            float: right;
            margin-top: 0.5em;
          }
          &__logoLinkOut {
            float: right;
            margin-top: 0.3em;
          }
          &__searchBar {
            width: 91%;
            border-style: hidden;
            font-size: 16px;
            letter-spacing: 1.5px;
            min-height: 40px;
            border-radius: 30px;
            background: rgba(128, 128, 128, .2);
            margin-top: 20px;
            margin-bottom: 21px;

          }

        }
        &__items > a {
          text-decoration: none;
          color: white;
          padding: 12px 18px;
          display: block;
          width: 90%;

        }
        &__items > a:hover {
          background-color: gray;

        }
        &__items:not(.alignCenter){
          text-align: left;
          margin: 0 16px 8px 16px;
          text-transform: uppercase;
          line-height: 24px;
          letter-spacing: 1.28px;
        }
        &__items > #monForm {
          width: 88%;
          min-height: 48px;
          border-radius: 6.4px;
          border-style: none;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          cursor: pointer;
          font-weight: 600;
          background: rgba(128, 128, 128, .2);
          color: white;
          padding: 8px 16px;
          margin-bottom: 12px;
          font-size: 16px;
        }
        &__items > #recruter {
          width: 88%;
          min-height: 48px;
          border-radius: 6.4px;
          border-style: none;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          cursor: pointer;
          font-weight: 600;
          background: #0bc4e2;
          color: black;
          padding: 8px 16px;
          margin-bottom: 12px;
          font-size: 16px;

        }
        .drop-down {
          &__items {
            letter-spacing: normal;
            line-height: 1em;
            font-size: 14px;
            text-transform: capitalize;


          }
          &__items > a {
            text-decoration: none;
            color: gray;
            display: block;
            padding: 8px 16px;
            margin: 8px 0 8px 0;

          }
          &__items > a:hover {
            background-color: gray;
            color: white;
          }
        }

        .leaveBurgerMenu {

          &__monLogo {
            margin-top: 25px;
          }
          &__croix {
            margin-top: 16px;
            float: right;
          }

        }

      }
    }
  }



}
.presentation {

  &__backgroundProfil {
    width: 100%;
    filter: blur(8px);
    position: relative;
    padding-top: 85px;
    &__photo {
      max-width: 100%;
      height: auto;
    }
  }
  &__profil {
    width: 100%;
    &__photo {
      max-width: 96%;
      height: auto;
      position: absolute;
      top: 108px;
      left: 16px;

    }
  }
  &__title {
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-family: "Beaufort for LOL", serif;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    text-align: center;


    &__firstName {
      display: block;
      font-size: calc(22.24px + 4.3vw);
      line-height: 1.1;
      margin-top: 0.3125rem;
      letter-spacing: 2.2px;
    }

  }
  &__wrapper {
    position: absolute;
    top: 400px;
    left: 0;
    width: 96%;
    background: transparent;
    border: 1px solid blue;
    margin-left: 2%;


    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 2fr 39.5px;
      &__items {
        justify-self: center;
        align-self: center;

        .logoDifficulty {
          padding-bottom: 50px;
        }
        &__difficulty {
          background-color: red;
          display: inline-block;
          width: 15px;
          transform: skewX(-40deg);
          height: 15px;
        }

      }
      &__items > a, &__items > span {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 0.625rem;
        letter-spacing: 0.15em;
      }
      &__items > span {
        color: rgb(93, 97, 102);
      }
      .gridItem1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        &__logo {
          fill: rgb(208, 168, 92);
          margin-bottom: 22px;
        }
        &__metier {

        }
        &__metierValue {
          color: rgb(208, 168, 92);
        }
      }
      .gridItem2 {
        grid-column-start: 3;
        grid-column-end: -1;
        text-align: center;
        text-transform: uppercase;
        &__yearStudy {

        }
        &__yearStudyValue {
          color: rgb(208, 168, 92);
        }
      }
      .gridItem3 {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: 3;
        border-bottom: 1px solid rgb(93, 97, 102);
        padding-left: 5%;
        padding-bottom: 35px;

        & > p {
          width: 95%;
          font-size: 14px;
          letter-spacing: 1.12px;
          line-height: 18px;
        }
      }
      .gridItem3::before {
        content: "";
        display: block;
        width: 80%;
        margin-left: 5%;
        height: 1px;
        margin-bottom: 15px;
        background-color: #707070;
      }
    }
    &__list::after {
      content: "";
      width: 100%;
      height: 1px;
    }
  }
}
.passions {
  margin-top: 28.5em;
  margin-left: auto;
  &__video {

    &__items {
      display: block;
      margin: auto;
    }
  }
  &__logo {
    display: flex;
    width: 84.5%;
    justify-content: space-between;
    margin: auto;
    padding: 50px 0 30px;
    &__items {
      &__button {
        background: none;
        border: none;
        transition: 0.2s;


      }
      &__button:focus {
        border: 1px solid blue;
        transform: translateY(0px);
        transition: 0.2s;
      }
      .buttonGames:focus {

      }

    }
    &__items:hover {
      transform: translateY(20px);
      transition: 0.2s;
    }
    &__items{

    }
  }
  &__wrapper {
    width: 84.5%;
    margin: auto;
    position: relative;
  }
  &__paragraph {
    margin: auto;
    &__list {
      &__type {
        font-family: "Beaufort for LOL", serif;
        font-size: 10px;
        line-height: 11px;
        letter-spacing: 1.5px;
        color: #7e7e7e;
        text-transform: uppercase;
      }
      &__name {
        text-transform: uppercase;
        margin-top: 0.375rem;
        font-weight: 700;
        font-family: "Beaufort for LOL", serif;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.9px;
      }
      & > p {
        font-size: 16px;
        margin-top: 1rem;
        line-height: 18.4px;
        letter-spacing: normal;
      }
    }
  }
}
.buttonGames ~ .passions__wrapper{
  background-color: blue;
}
.competences {
  margin-top: 160px;
  &__title {
    text-transform: uppercase;
    font-style: italic;
    font-family: "Beaufort for LOL", serif;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.05em;
    margin: 20px 0;
  }
  &__list {
    display: flex;

    &__items {
      margin-left: 80px;

      &__title {
        text-align: center;
      }
    }
  }
}
.download {
  background-color: #061c25;
  text-align: center;
  &__wrapper {
    text-align: center;
    width: 91.7695473251%;
    margin: auto;
    &__title {
      font-size: 16px;
      line-height: 13.6px;
      font-family: "Beaufort for LOL", serif;
      letter-spacing: 0.08em;
      color: #d1dade;
      font-weight: bold;
      text-transform: uppercase;
      padding: 1em 0;
    }
    &__slogan {
      font-size: 12px;
      letter-spacing: 0.08em;
      line-height: 13.6px;
      font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
      color: #d1dade;
      margin-bottom: 1.25em;
    }
    &__logo {
      padding-bottom: 1.25em;
    }
  }
}
.bottomNav {
  background-color: #292929;
  padding: 24px 0;
  &__list {
    display: flex;
    flex-direction: column;
    width: 91.7695473251%;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;

    &__items {
      font-size: 13px;
      margin:12px 0;
      padding: 8px 16px;
      letter-spacing: 1.04px;
      line-height: 14.95px;
      font-family: "MarkW05-Medium",  Arial, sans-serif;
      text-transform: uppercase;
      transition: all .2s linear;
      text-align: center;
      font-weight: 700;
      border-radius: 5px;

    }
    &__items a {
      text-decoration: none;
      color: #f9f9f9;
    }
    &__items:hover {
      background-color: red;
    }
  }
}
.socialMedia {
  margin: 18px 0;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    &__items {
      &:not(:first-child){
        margin-left: 12px;
      }
    }
    &__items a {
      background-color: blue;
      width: 48px;
      min-height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;

      & svg {
        align-items: center;
      }
    }
  }
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  padding: 24px 0 20px;
  &__logo {
    text-align: center;
    margin-bottom: 20px;

  }
  &__paragraph {
    font-family: "MarkW05-Medium", Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    width: 71.5953307393%;
    text-align: center;

  }
}
.footerNav {
  margin-bottom: 16px;
  &__list {
    display: flex;
    flex-direction: column;
    width: 91.7695473251%;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    &__items {
      font-size: 13px;
      margin:12px 0;
      padding: 8px 16px;
      letter-spacing: 1.04px;
      line-height: 14.95px;
      font-family: "MarkW05-Medium",  Arial, sans-serif;
      text-transform: uppercase;
      transition: all .2s linear;
      font-weight: 700;
      border-radius: 5px;

    }
    &__items a {
      text-decoration: none;
      color: #f9f9f9;
    }
    &__items:hover {
      background-color: red;
    }
  }
}
.footerLogo {

  &__list {

    display: flex;
    justify-content: center;
    align-items: center;
    &__items a {

      display: block;
      border-radius: 8px;
      background: #292929;
      padding: 8px 12px;
    }
  }
}
footer {
  padding-bottom: 48px;
}





